{{ header }} {{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-shipping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
	  <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}	
		<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
	<button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
      	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shipping" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-postcode">{{ entry_postcode }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_correios_postcode" value="{{ shipping_correios_postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode" class="form-control" />
              {% if error_postcode %} 
              <div class="text-danger">{{ error_postcode }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_servicos }}">{{ entry_servicos }}</span></label>
            <div class="col-sm-10">
              <div id="service" class="well well-sm" style="height: auto; overflow: auto;">
                <div id="Correios">
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40010 %}    
                      <input type="checkbox" name="shipping_correios_40010" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40010" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40010" value="{{ shipping_correios_total_40010 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex }}                   
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40045 %}    
                      <input type="checkbox" name="shipping_correios_40045" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40045" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40045" value="{{ shipping_correios_total_40045 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_cobrar }}                   
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40215 %}    
                      <input type="checkbox" name="shipping_correios_40215" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40215" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40215" value="{{ shipping_correios_total_40215 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_10 }}                   
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40169 %}    
                      <input type="checkbox" name="shipping_correios_40169" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40169" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40169" value="{{ shipping_correios_total_40169 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_12 }}                   
                    </label>
                  </div>				  
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40290 %}    
                      <input type="checkbox" name="shipping_correios_40290" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40290" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40290" value="{{ shipping_correios_total_40290 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_hoje }}                   
                    </label>                  
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_41106 %}    
                      <input type="checkbox" name="shipping_correios_41106" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_41106" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_41106" value="{{ shipping_correios_total_41106 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_pac }}                   
                    </label>                  
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_41262 %}    
                      <input type="checkbox" name="shipping_correios_41262" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_41262" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_41262" value="{{ shipping_correios_total_41262 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_pac_cobrar }}                   
                    </label>                 
                </div>					
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40126 %}    
                      <input type="checkbox" name="shipping_correios_40126" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40126" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40126" value="{{ shipping_correios_total_40126 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_cobrar_contrato }}                   
                    </label> 
                  </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40096 %}    
                      <input type="checkbox" name="shipping_correios_40096" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40096" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40096" value="{{ shipping_correios_total_40096 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_contrato_40096 }}                   
                    </label>                  
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40436 %}    
                      <input type="checkbox" name="shipping_correios_40436" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40436" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40436" value="{{ shipping_correios_total_40436 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_contrato_40436 }}                   
                    </label>                   
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40444 %}    
                      <input type="checkbox" name="shipping_correios_40444" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40444" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40444" value="{{ shipping_correios_total_40444 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_contrato_40444 }}                   
                    </label>                  
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40568 %}    
                      <input type="checkbox" name="shipping_correios_40568" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40568" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40568" value="{{ shipping_correios_total_40568 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_contrato_40568 }}                   
                    </label>                 
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_40606 %}    
                      <input type="checkbox" name="shipping_correios_40606" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_40606" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_40606" value="{{ shipping_correios_total_40606 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_sedex_contrato_40606 }}                   
                    </label>                   
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_41068 %}    
                      <input type="checkbox" name="shipping_correios_41068" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_41068" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_41068" value="{{ shipping_correios_total_41068 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_pac_contrato }}                   
                    </label>                   
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_41300 %}    
                      <input type="checkbox" name="shipping_correios_41300" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_41300" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_41300" value="{{ shipping_correios_total_41300 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_pac_grandes_formatos }}                   
                    </label>                   
                </div>                
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_81019 %}    
                      <input type="checkbox" name="shipping_correios_81019" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_81019" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_81019" value="{{ shipping_correios_total_81019 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_esedex }}                   
                    </label>
                </div> 
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_81027 %}    
                      <input type="checkbox" name="shipping_correios_81027" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_81027" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_81027" value="{{ shipping_correios_total_81027 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_esedex_prioritario }}                   
                    </label>                  
                </div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_81035 %}    
                      <input type="checkbox" name="shipping_correios_81035" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_81035" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_81035" value="{{ shipping_correios_total_81035 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_esedex_express }}                   
                    </label>                  
                </div> 
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_81868 %}    
                      <input type="checkbox" name="shipping_correios_81868" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_81868" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_81868" value="{{ shipping_correios_total_81868 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_esedex_grupo1 }}                   
                    </label>                
				</div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_81833 %}    
                      <input type="checkbox" name="shipping_correios_81833" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_81833" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_81833" value="{{ shipping_correios_total_81833 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_esedex_grupo2 }}                   
                    </label>                
				</div>
                  <div class="checkbox">
                    <label>
                      {% if shipping_correios_81850 %}    
                      <input type="checkbox" name="shipping_correios_81850" value="1" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="shipping_correios_81850" value="1" />
                      {% endif %} 
                      <input type="text" name="shipping_correios_total_81850" value="{{ shipping_correios_total_81850 }}" title="text_total" placeholder="{{ text_total }}" style="width: 150px;padding: 0 2px;border-radius: 3px;border: 1px solid #cccccc;display: inline-block" />  
                      {{ text_esedex_grupo3 }}                   
                    </label>                                                       
                </div>
              </div>
              <a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{ text_select_all }}</a> / <a onclick="$(this).parent().find(':checkbox').prop('checked', false);">{{ text_unselect_all }}</a> </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-contrato-codigo"><span data-toggle="tooltip" title="{{ help_contrato }}">{{ entry_contrato }}</span></label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-4">
                  <input type="text" name="shipping_correios_contrato_codigo" value="{{ shipping_correios_contrato_codigo }}" placeholder="{{ entry_contrato_codigo }}" id="input-contrato-codigo" class="form-control" />
                </div>
                <div class="col-sm-4">
                  <input type="text" name="shipping_correios_contrato_senha" value="{{ shipping_correios_contrato_senha }}" placeholder="{{ entry_contrato_senha }}" id="input-contrato-senha" class="form-control" />
                </div>
                <div class="col-sm-4">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
          	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_mao_propria }}">{{ entry_mao_propria }}</span></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if shipping_correios_mao_propria %} 
                <input type="radio" name="shipping_correios_mao_propria" value="s" checked="checked" />
                {% else %}
                <input type="radio" name="shipping_correios_mao_propria" value="s" />
                {% endif %}
				{{ text_yes }}                
              </label>
              <label class="radio-inline">
                {% if shipping_correios_mao_propria == 'n' %}
                <input type="radio" name="shipping_correios_mao_propria" value="n" checked="checked" />
                {% else %}
                <input type="radio" name="shipping_correios_mao_propria" value="n" />
                {% endif %}
                {{ text_no }}                
              </label>
            </div>
          </div>
          <div class="form-group">
          	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_aviso_recebimento }}">{{ entry_aviso_recebimento }}</span></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if shipping_correios_aviso_recebimento == 's' %}
                <input type="radio" name="shipping_correios_aviso_recebimento" value="s" checked="checked" />
                {% else %}
                <input type="radio" name="shipping_correios_aviso_recebimento" value="s" />
                {% endif %}
                {{ text_yes }}               
              </label>
              <label class="radio-inline">
                {% if shipping_correios_aviso_recebimento == 'n' %}
                <input type="radio" name="shipping_correios_aviso_recebimento" value="n" checked="checked" />
                {% else %}
                <input type="radio" name="shipping_correios_aviso_recebimento" value="n" />
                {% endif %}
                {{ text_no }}               
              </label>
            </div>
          </div> 
          <div class="form-group">
          	<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_declarar_valor }}">{{ entry_declarar_valor }}</span></label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if shipping_correios_declarar_valor == 's' %}
                <input type="radio" name="shipping_correios_declarar_valor" value="s" checked="checked" />
                {% else %}
                <input type="radio" name="shipping_correios_declarar_valor" value="s" />
                {% endif %}
                {{ text_yes }}               
              </label>
              <label class="radio-inline">
                {% if shipping_correios_declarar_valor == 'n' %}
                <input type="radio" name="shipping_correios_declarar_valor" value="n" checked="checked" />
                {% else %}
                <input type="radio" name="shipping_correios_declarar_valor" value="n" />
                {% endif %}
                {{ text_no }}                
              </label>
            </div>
          </div>
          <div class="form-group">
          	<label class="col-sm-2 control-label" for="input-correios-adicional"><span data-toggle="tooltip" title="{{ help_adicional }}">{{ entry_adicional }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_correios_adicional" value="{{ shipping_correios_adicional }}" placeholder="{{ entry_adicional }}" id="input-correios-adicional" class="form-control" />
            </div>
          </div>
          <div class="form-group">
          	<label class="col-sm-2 control-label" for="input-correios-prazo-adicional"><span data-toggle="tooltip" title="{{ help_prazo_adicional }}">{{ entry_prazo_adicional }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="shipping_correios_prazo_adicional" value="{{ shipping_correios_prazo_adicional }}" placeholder="{{ entry_prazo_adicional }}" id="input-correios-prazo-adicional" class="form-control" />
            </div>
          </div>  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-tax-class">{{ entry_tax_class }}</label>
            <div class="col-sm-10">
              <select name="shipping_correios_tax_class_id" id="input-tax-class" class="form-control">
                <option value="0">{{ text_none }}</option>
                {% for tax_class in tax_classes %}
                {% if tax_class.tax_class_id == shipping_correios_tax_class_id %}
                <option value="{{ tax_class.tax_class_id }}" selected="selected">{{ tax_class.title }}</option>
                {% else %}
                <option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="shipping_correios_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == shipping_correios_geo_zone_id %}
                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                {% else %}
                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="shipping_correios_status" id="input-status" class="form-control">
                {% if shipping_correios_status %} 	
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="shipping_correios_sort_order" value="{{ shipping_correios_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>          
 		</form>
      </div>
    </div>
  </div>
</div>
{{ footer }}		  